@use "variables.scss";
@use "general.scss";

.about {
  &__title {
    text-align: center;
  }
  &__article {
    font-family: sans-serif;
    color: variables.$text;
    font-size: 28px;
    text-align: justify;
  }
}
