@use "variables";
@use "normalize.css";

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", monospace;
  background-color: #001219;
  color: variables.$contrast;
}

input {
  background-color: transparent;
  border: none;
  width: 20px;
  text-align: center;
  color: inherit;
  padding: 0;
  caret-color: variables.$tag;
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

.header {
  padding: 10px 0 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__burger {
    display: none;
  }
  &__nav {
    &-list {
      display: flex;
      gap: 30px;
      font-size: 18px;
    }
    &-elem {
      transition: all 0.5s;
      &:hover {
        color: variables.$text;
      }
    }
  }
}

.logo {
  font-size: 26px;
  color: variables.$A1;
  &-higl {
    padding: 5px 0 5px 5px;
    margin-right: 5px;
    color: #001219;
    background-color: variables.$A1;
  }
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 2;

  // THE LINES
  span,
  span:before,
  span:after {
    background: #fff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  span:before,
  span:after {
    content: "";
  }

  // TOP
  span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }

  // MIDDLE
  span {
    right: 0px;
    top: 13px;
    width: 27px;
  }

  // BOTTOM
  span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }

  // ROTATION ON CLICK
  &.close {
    // TOP
    span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
    }

    // MIDDLE
    span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
    }

    // BOTTOM
    span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
  }
}

@media (max-width: 810px) {
  .header__inner {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 410px) {
  .header__inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__nav {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &-list {
      background-color: variables.$A1;
      color: #001219;
      font-weight: bold;
      margin-top: 240px;
      right: 0;
      align-items: center;
      flex-direction: column;
      gap: 0;
    }
    &-link {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-elem {
      width: 100%;
      height: 50px;
    }
    &-link:hover {
      background-color: #003347;
      color: white;
    }
  }
  .header__burger {
    display: inline;
  }
}

.overlay {
  visibility: visible;
  opacity: 1;
}
